@import './media.scss';
@media screen and (max-width: $lg) and (min-width: $xs) {
	.login-container {
		.login-left {
			img {
        position: absolute;
				top: 77% !important;
        left: 0% !important;
				width: 30% !important;
				height: 18% !important;
			}
		}
		.login-right {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@media screen and (max-width: $xs) {
	.login-container {
		.login-left {
			display: none !important;
		}
    .login-bg {
      display: none !important;
    }
		.login-right {
      &-warp {
        width: 100% !important;
        height: 100% !important;
      }
		}
	}
}
